{% extends 'Base.html' %}
{% block SecondRowHeader %}
Sosyal Etkinliklerimiz
{% endblock %}
{% block IcerikSolUst %} {% endblock %}
{% block IcerikSolAlt %}
<div class="AnaMetinBaslik TextSiyahGolge" style="margin-top: 25px; margin-bottom: 50px;">
     SOSYAL ETKİNLİKLERİMİZ
</div>

<div class="container" style="margin-bottom: 50px;">
     <div class="row">
          <div class="col">
               <!-- SOL SUTUN ICERIKLER -->
               <div class="tut_leftbox ResimColDis1" style="width: 600px;"><img class=""
                         src="/static/images/Sosyal001.jpg"></div>
          </div>



          <div class="col ">
               <!-- SAG SUTUN ICERIKLER -->
               <h3 class="TextBeyazGolge" style="text-align: left;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, omnis quae. Enim dolorem totam
                    provident accusantium in labore autem repudiandae corrupti itaque, saepe, eligendi adipisci
                    doloribus nihil maxime.</h3>
               <div class="d-flex justify-content-between align-items-center" style="color:bisque">
                    <div class="btn-group">
                         <div style="color:rgb(70, 52, 7)"><strong>Daha Fazlası</strong></div>
                    </div>
                    <div style="color:rgb(70, 52, 7)"><strong>15-07-2024</strong></div>
               </div>

          </div>
     </div>
</div>
<!-- ########################################################################################################### -->
<div style="display: flex; flex-direction: column; border-bottom: 5px solid rgb(21, 8, 168); justify-content: center;">
     <!-- ########################################################################################################### -->
</div>
<div class="container" style="margin-top: 50px;">
     <div class="row">
          <div class="col">
               <!-- SOL SUTUN ICERIKLER -->
               <h3 class="TextBeyazGolge" style="text-align: right;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, omnis quae. Enim dolorem totam
                    provident accusantium in labore autem repudiandae corrupti itaque, saepe, eligendi adipisci
                    doloribus nihil maxime.</h3>
               <div class="d-flex justify-content-between align-items-center" style="color:bisque">
                    <div class="btn-group">
                         <div style="color:rgb(70, 52, 7)"><strong>Daha Fazlası</strong></div>
                    </div>
                    <div style="color:rgb(70, 52, 7)"><strong>15-07-2024</strong></div>
               </div>

          </div>
          <div class="col ">
               <!-- SAG SUTUN ICERIKLER -->
               <div class="tut_leftbox ResimColDis1" style="width: 600px;"><img class=""
                         src="/static/images/Sosyal002.jpg"></div>

          </div>
     </div>
</div>
<div style="margin-bottom: 100px;"> </div>
{% endblock %}